*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: palevioletred;
}
.maincontent{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    width: 400px;
    background: white;
    padding: 60px 40px;
    border-radius: 3px;
    border: 1px solid purple;
}
header{
    font-size: 30px;
    margin-bottom: 60px;
    font-family: sans-serif;
    text-align: center;
}
.input_field{
    margin-bottom: 20px;
}
.input_field, form .button{
    position:relative;
    height: 50px;
    width: 100%;
}
.input_field input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 60px;
    font-size: 20px;
    outline: none;
    background: lightgrey;
}
.input_field label{
    position: absolute;
    left: 20px;
    top: 25%;
    color: grey;
    font-size: 17px;
}
label{
    font-family: sans-serif;
    color: lightgray;
}
.login-button{
    padding: 10px 0px;
    margin-top: 30px;
    width: 100%;
    background-color: hotpink;
    border: 1px solid rgb(172, 68, 120);
    color: white;
    cursor: pointer;
}
.auth{
    text-align: center;
    margin-top: 30px;
    color: lightgrey;
}
.Buttons{
    display: flex;
    position: absolute;
}
.facebook, .google{
    height: 20px;
    width: 100%;
    border:1px solid silver;
    border-radius: 5px;
    margin: 0px 10px;
    text-align: center;
}
button[type=button]{
    margin-left: 40px;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    font-size: large;
    color: dodgerblue;
    cursor: pointer;
}
.signup{
    text-align: center;
    font-family: sans-serif;
    margin-top: 80px;
    color: lightgrey;
}
.signup a{
    color: lightgray;
}